---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi</a>
		<a href="/blog/">Blog</a>
		<h1>Acerca de mi</h1>
        <h2>Mi primer sitio web con Astro</h2>
        <p>
            Este proyecto lo iré actualizando paso a paso con el tutorial introductorio creado por el equipo de Astro.
            <a href="https://docs.astro.build/es/tutorial/2-pages/1/" target="_blank"></a>
        </p>
	</body>
</html>